In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv('sales_data.csv')
dados.head()

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2013-11-26,26,November,2013,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
1,2015-11-26,26,November,2015,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
2,2014-03-23,23,March,2014,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1366,1035,2401
3,2016-03-23,23,March,2016,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,120,1188,900,2088
4,2014-05-15,15,May,2014,47,Adults (35-64),F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,238,180,418

In [3]:
dados = dados.drop(columns=['Day','Month','Year','Customer_Age','State'])
dados.head()

,Date,Age_Group,Customer_Gender,Country,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2013-11-26,Youth (<25),M,Canada,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
1,2015-11-26,Youth (<25),M,Canada,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
2,2014-03-23,Adults (35-64),M,Australia,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1366,1035,2401
3,2016-03-23,Adults (35-64),M,Australia,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,120,1188,900,2088
4,2014-05-15,Adults (35-64),F,Australia,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,238,180,418

In [4]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113036 entries, 0 to 113035
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Date              113036 non-null  object
 1   Age_Group         113036 non-null  object
 2   Customer_Gender   113036 non-null  object
 3   Country           113036 non-null  object
 4   Product_Category  113036 non-null  object
 5   Sub_Category      113036 non-null  object
 6   Product           113036 non-null  object
 7   Order_Quantity    113036 non-null  int64
 8   Unit_Cost         113036 non-null  int64
 9   Unit_Price        113036 non-null  int64
 10  Profit            113036 non-null  int64
 11  Cost              113036 non-null  int64
 12  Revenue           113036 non-null  int64
dtypes: int64(6), object(7)
memory usage: 11.2+ MB

In [5]:
dados = dados.rename (columns={
    'Order_Quantity ':'quantidade',
    'Unit_Cost':'custo_unidade',
    'Unit_Price':'preço_unidade',
    'Profit':'lucro',
    'Cost':'custo',
    'Revenue':'revenda'
})

In [6]:
dados.head()

,Date,Age_Group,Customer_Gender,Country,Product_Category,Sub_Category,Product,Order_Quantity,custo_unidade,preço_unidade,lucro,custo,revenda
0,2013-11-26,Youth (<25),M,Canada,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
1,2015-11-26,Youth (<25),M,Canada,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
2,2014-03-23,Adults (35-64),M,Australia,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1366,1035,2401
3,2016-03-23,Adults (35-64),M,Australia,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,120,1188,900,2088
4,2014-05-15,Adults (35-64),F,Australia,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,238,180,418

In [7]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113036 entries, 0 to 113035
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Date              113036 non-null  object
 1   Age_Group         113036 non-null  object
 2   Customer_Gender   113036 non-null  object
 3   Country           113036 non-null  object
 4   Product_Category  113036 non-null  object
 5   Sub_Category      113036 non-null  object
 6   Product           113036 non-null  object
 7   Order_Quantity    113036 non-null  int64
 8   custo_unidade     113036 non-null  int64
 9   preço_unidade     113036 non-null  int64
 10  lucro             113036 non-null  int64
 11  custo             113036 non-null  int64
 12  revenda           113036 non-null  int64
dtypes: int64(6), object(7)
memory usage: 11.2+ MB

In [8]:
dados = dados.rename(columns={'Order_Quantity':'quantidade'})

In [9]:
dados.head()

,Date,Age_Group,Customer_Gender,Country,Product_Category,Sub_Category,Product,quantidade,custo_unidade,preço_unidade,lucro,custo,revenda
0,2013-11-26,Youth (<25),M,Canada,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
1,2015-11-26,Youth (<25),M,Canada,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
2,2014-03-23,Adults (35-64),M,Australia,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1366,1035,2401
3,2016-03-23,Adults (35-64),M,Australia,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,120,1188,900,2088
4,2014-05-15,Adults (35-64),F,Australia,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,238,180,418

In [10]:
dados['revenda'] = dados['preço_unidade'] * dados['quantidade']
dados.head()

,Date,Age_Group,Customer_Gender,Country,Product_Category,Sub_Category,Product,quantidade,custo_unidade,preço_unidade,lucro,custo,revenda
0,2013-11-26,Youth (<25),M,Canada,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,960
1,2015-11-26,Youth (<25),M,Canada,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,960
2,2014-03-23,Adults (35-64),M,Australia,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1366,1035,2760
3,2016-03-23,Adults (35-64),M,Australia,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,120,1188,900,2400
4,2014-05-15,Adults (35-64),F,Australia,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,238,180,480

In [11]:
dados['custo'] = dados['quantidade'] * dados['custo_unidade']
dados['lucro'] = dados['revenda'] - dados['custo']
dados.head()

,Date,Age_Group,Customer_Gender,Country,Product_Category,Sub_Category,Product,quantidade,custo_unidade,preço_unidade,lucro,custo,revenda
0,2013-11-26,Youth (<25),M,Canada,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,600,360,960
1,2015-11-26,Youth (<25),M,Canada,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,600,360,960
2,2014-03-23,Adults (35-64),M,Australia,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1725,1035,2760
3,2016-03-23,Adults (35-64),M,Australia,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,120,1500,900,2400
4,2014-05-15,Adults (35-64),F,Australia,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,300,180,480

In [12]:
dados['Product_Category'].unique()

array(['Accessories', 'Clothing', 'Bikes'], dtype=object)

In [13]:
dados['Sub_Category'].unique()

array(['Bike Racks', 'Bike Stands', 'Bottles and Cages', 'Caps',
       'Cleaners', 'Fenders', 'Gloves', 'Helmets', 'Hydration Packs',
       'Jerseys', 'Mountain Bikes', 'Road Bikes', 'Shorts', 'Socks',
       'Tires and Tubes', 'Touring Bikes', 'Vests'], dtype=object)

In [14]:
dados['Product'].unique()

array(['Hitch Rack - 4-Bike', 'All-Purpose Bike Stand',
       'Mountain Bottle Cage', 'Water Bottle - 30 oz.',
       'Road Bottle Cage', 'AWC Logo Cap', 'Bike Wash - Dissolver',
       'Fender Set - Mountain', 'Half-Finger Gloves, L',
       'Half-Finger Gloves, M', 'Half-Finger Gloves, S',
       'Sport-100 Helmet, Black', 'Sport-100 Helmet, Red',
       'Sport-100 Helmet, Blue', 'Hydration Pack - 70 oz.',
       'Short-Sleeve Classic Jersey, XL',
       'Short-Sleeve Classic Jersey, L', 'Short-Sleeve Classic Jersey, M',
       'Short-Sleeve Classic Jersey, S', 'Long-Sleeve Logo Jersey, M',
       'Long-Sleeve Logo Jersey, XL', 'Long-Sleeve Logo Jersey, L',
       'Long-Sleeve Logo Jersey, S', 'Mountain-100 Silver, 38',
       'Mountain-100 Silver, 44', 'Mountain-100 Black, 48',
       'Mountain-100 Silver, 48', 'Mountain-100 Black, 38',
       'Mountain-200 Silver, 38', 'Mountain-100 Black, 44',
       'Mountain-100 Silver, 42', 'Mountain-200 Black, 46',
       'Mountain-200 Silver, 42', 'Mountain-200 Silver, 46',
       'Mountain-200 Black, 38', 'Mountain-100 Black, 42',
       'Mountain-200 Black, 42', 'Mountain-400-W Silver, 46',
       'Mountain-500 Silver, 40', 'Mountain-500 Silver, 44',
       'Mountain-500 Black, 48', 'Mountain-500 Black, 40',
       'Mountain-400-W Silver, 42', 'Mountain-500 Silver, 52',
       'Mountain-500 Black, 52', 'Mountain-500 Silver, 42',
       'Mountain-500 Black, 44', 'Mountain-500 Silver, 48',
       'Mountain-400-W Silver, 38', 'Mountain-400-W Silver, 40',
       'Mountain-500 Black, 42', 'Road-150 Red, 48', 'Road-150 Red, 62',
       'Road-750 Black, 48', 'Road-750 Black, 58', 'Road-750 Black, 52',
       'Road-150 Red, 52', 'Road-150 Red, 44', 'Road-150 Red, 56',
       'Road-750 Black, 44', 'Road-350-W Yellow, 40',
       'Road-350-W Yellow, 42', 'Road-250 Black, 44',
       'Road-250 Black, 48', 'Road-350-W Yellow, 48',
       'Road-550-W Yellow, 44', 'Road-550-W Yellow, 38',
       'Road-250 Black, 52', 'Road-550-W Yellow, 48', 'Road-250 Red, 58',
       'Road-250 Black, 58', 'Road-250 Red, 52', 'Road-250 Red, 48',
       'Road-250 Red, 44', 'Road-550-W Yellow, 42',
       'Road-550-W Yellow, 40', 'Road-650 Red, 48', 'Road-650 Red, 60',
       'Road-650 Black, 48', 'Road-350-W Yellow, 44', 'Road-650 Red, 52',
       'Road-650 Black, 44', 'Road-650 Red, 62', 'Road-650 Red, 58',
       'Road-650 Black, 60', 'Road-650 Black, 58', 'Road-650 Black, 52',
       'Road-650 Black, 62', 'Road-650 Red, 44',
       "Women's Mountain Shorts, M", "Women's Mountain Shorts, S",
       "Women's Mountain Shorts, L", 'Racing Socks, L', 'Racing Socks, M',
       'Mountain Tire Tube', 'Touring Tire Tube', 'Patch Kit/8 Patches',
       'HL Mountain Tire', 'LL Mountain Tire', 'Road Tire Tube',
       'LL Road Tire', 'Touring Tire', 'ML Mountain Tire', 'HL Road Tire',
       'ML Road Tire', 'Touring-1000 Yellow, 50', 'Touring-1000 Blue, 46',
       'Touring-1000 Yellow, 60', 'Touring-1000 Blue, 50',
       'Touring-3000 Yellow, 50', 'Touring-3000 Blue, 54',
       'Touring-3000 Blue, 58', 'Touring-3000 Yellow, 44',
       'Touring-3000 Yellow, 54', 'Touring-3000 Blue, 62',
       'Touring-3000 Blue, 44', 'Touring-1000 Blue, 54',
       'Touring-1000 Yellow, 46', 'Touring-1000 Blue, 60',
       'Touring-3000 Yellow, 62', 'Touring-1000 Yellow, 54',
       'Touring-2000 Blue, 54', 'Touring-3000 Blue, 50',
       'Touring-3000 Yellow, 58', 'Touring-2000 Blue, 46',
       'Touring-2000 Blue, 50', 'Touring-2000 Blue, 60',
       'Classic Vest, L', 'Classic Vest, M', 'Classic Vest, S'],
      dtype=object)

In [15]:
dados.to_csv('dados_prontos',index=False)

In [17]:
dados['Country'].unique()

array(['Canada', 'Australia', 'United States', 'Germany', 'France',
       'United Kingdom'], dtype=object)